useDynLib(prclust)
export(PRclust,GCV,clusterStat, stability)
importFrom("stats", "coefficients", "lm", "rnorm", "dist")
import(parallel)
importFrom(Rcpp, evalCpp)
S3method(print, prclust)
S3method(print, clusterStat)